<%- include('./include/header') %>

    <body>

        <div class="container">

            <div class="row">

                <div class="col-md-12">
                    <%- include('./include/navbar') %>
                </div>

            </div>

            <div class="row" style="padding:10px;">

                <div class="col-md-12">
                    <div class="alert alert-warning text-center" role="alert" id="dadosDash">
                        
                    </div>
                </div>

            </div>

            <%- include('./include/footer') %>

        </div>
        <%- include('./include/script') %>
    </body>

    </html>