<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="img/dash_logo.png" width="251" height="99" alt="..."></a>
    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/wallet">Criando carteira Dash</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/identity">Criando uma identidade</a>
        </li>
      
    </ul>
</nav>